.slide  {
    margin-top: 80px;
}

.slide  img {
    height: 65vh;
}

.redes {
    font-size: 2rem;
}

.redes a {
    margin-right: 20px; 
    color: black;
}

.bi {
    color: #e3e3e6;
}

.container p {
    color: rgb(201, 188, 50);
}

h1 {
    color: rgb(201, 188, 50);
}

/* Estilo para el hr */
hr {
    border: 0;
    height: 3px;
    background-color: rgb(201, 188, 50);
}

.container {
    min-height: 100vh; /********garantiza el 100 de altura***********/
}

.logo-navbar {
    width: 150px; /* Ajusta el tamaño según tus necesidades */
    height: auto; /* Mantiene la proporción original */
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
}

.formulario2 {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid yellow; 
    border-radius: 1rem; 
    padding: 100px;
    
}
.formulario3 {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid yellow; 
    border-radius: 1rem; 
    padding: 100px;
}

.formulario4 {
    max-width: 980px;
    margin: 0 auto;
    border: 2px solid yellow; 
    border-radius: 1rem; 
    padding: 100px;
}

.formulario5 {
    max-width: 980px;
    margin: 0 auto;
    padding: 100px;
}

footer {
    background-color:#e3e3e6 ;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}
